In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('terrabrasilis_legal_amazon_26_4_2021_1622080587023.csv')

In [7]:
df.head()

         year;area km²
1988;21           50.0
1989;17          770.0
1990;13          730.0
1991;11           30.0
1992;13          786.0

In [12]:
# df2 = pd.read_csv('terrabrasilis_legal_amazon_26_4_2021_1622080569977.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [13]:
# df.head()

         year;area km²
1988;21           50.0
1989;17          770.0
1990;13          730.0
1991;11           30.0
1992;13          786.0

In [18]:
df = df.replace(';', '')

In [19]:
df.head()

         year;area km²
1988;21           50.0
1989;17          770.0
1990;13          730.0
1991;11           30.0
1992;13          786.0