In [30]:
from sklearn import tree
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
import os
#use dicision tress regressor and imputer

In [21]:
df = pd.read_csv('df_2008_2018.csv')
df.head()

,gid,origin_id,uf,pathrow,mainclass,class_name,dsfnv,julday,view_date,ano,areakm_squared,scene_id,publish_ye,lon,lat,day,month,year,states
0,282618,580137.0,MA,22164,DESMATAMENTO,d2017,2016.0,221.0,2017-08-09 00:00:00,2017.0,0.012362,100624.0,2017-01-01 00:00:00,-46.147619,-5.115730,9,8,2017,Maranhao
1,593800,1114637.0,MT,22669,DESMATAMENTO,d2008,NaN,168.0,2008-06-16 00:00:00,2008.0,0.306214,527.0,2008-01-01 00:00:00,-54.881533,-12.708523,16,6,2008,Mato Grosso
2,816637,25644.0,PA,22562,DESMATAMENTO,d2018,NaN,236.0,2018-08-24 12:00:00,2018.0,0.067416,101109.0,2018-01-01 00:00:00,-50.980997,-3.530574,24,8,2018,Para
3,393766,724609.0,PA,22466,DESMATAMENTO,d2009,NaN,220.0,2009-08-08 00:00:00,2009.0,0.078053,879.0,2009-01-01 00:00:00,-50.702206,-8.960971,8,8,2009,Para
4,117567,366852.0,RR,23258,DESMATAMENTO,d2009,NaN,292.0,2009-10-19 00:00:00,2009.0,0.000377,974.0,2009-01-01 00:00:00,-60.262828,2.378392,19,10,2009,Roraima

In [3]:
#df['lon']

In [22]:
target = df["lon"].iloc[:1000]

In [23]:
df.drop(["lon", "uf", "states", "mainclass", "class_name", "dsfnv", "view_date", "publish_ye", "gid", "origin_id", "scene_id", "pathrow", "ano"], axis=1, inplace=True)
#feature_names = data.columns
df.head()
# removed inplace=True
#took it from here

   julday  areakm_squared        lat  day  month  year
0   221.0        0.012362  -5.115730    9      8  2017
1   168.0        0.306214 -12.708523   16      6  2008
2   236.0        0.067416  -3.530574   24      8  2018
3   220.0        0.078053  -8.960971    8      8  2009
4   292.0        0.000377   2.378392   19     10  2009

In [24]:
df = df.round({'lat': 1})

In [25]:
df = df.round({'areakm_squared': 1})

In [26]:
df.head()

   julday  areakm_squared   lat  day  month  year
0   221.0             0.0  -5.1    9      8  2017
1   168.0             0.3 -12.7   16      6  2008
2   236.0             0.1  -3.5   24      8  2018
3   220.0             0.1  -9.0    8      8  2009
4   292.0             0.0   2.4   19     10  2009

In [27]:
df = df.dropna()

In [10]:
#df = df.astype(float).astype(int)
#df.dtypes

In [11]:
#df = df.astype(int)
#df.dtypes

In [12]:
#df = df.infer_objects()
#df.dtypes

In [13]:
#df = df.apply(int)

In [14]:
#df = df.fillna(0).astype(int)
#df.dtypes

In [28]:
df = df.iloc[:1000]
df.dtypes

julday            float64
areakm_squared    float64
lat               float64
day                 int64
month               int64
year                int64
dtype: object

In [16]:
#X_test.fillna(X_train.mean(), inplace=True)
#X_test = X_test.fillna(X_train.mean())

In [32]:

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit([[1, 2], [np.nan, 3], [7, 6]])
SimpleImputer()
X = [[np.nan, 2], [6, np.nan], [7, 6]]
print(imp.transform(X))

[[4.         2.        ]
 [6.         3.66666667]
 [7.         6.        ]]

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, target, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [4, 1000]

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

# 1. https://datascience.stackexchange.com/questions/11928/valueerror-input-contains-nan-infinity-or-a-value-too-large-for-dtypefloat32
#    X_test.fillna(X_train.mean(), inplace=True)
#    X_test = X_test.fillna(X_train.mean())

# 2. https://datascience.stackexchange.com/questions/11928/valueerror-input-contains-nan-infinity-or-a-value-too-large-for-dtypefloat32
#    np.isnan(X)
#    np.where(np.isnan(X))
#    np.nan_to_num(X) 

# 3.?? https://scikit-learn.org/stable/modules/impute.html#impute
#

In [ ]:
importances = rf.feature_importances_
importances